.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(182, 3, 182), rgb(224, 83, 107));
  width: 100vw;
  min-height: 100vh;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search-container {
  display: flex;
}

.search-input {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search-button {
}

.inputs-container {
  display: flex;
  gap: 20px;
}

.result {
  padding-left: 40px;
}
